<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/fc35400e-3bc9-4216-a484-85bbf45fcb63/resourcegroups/Connect2GetherProject/providers/Microsoft.ContainerRegistry/registries/Connect2GetherAPI20240226084507</ContainerResourceId>
    <ContainerResourceName>Connect2GetherAPI20240226084507</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>connect2getherapi20240226084507.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>connect2getherapi</ContainerName>
    <EnvironmentName>Connect2GetherAPI-env-20240226084024</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://connect2getherapi-app-2024022608.wittycoast-8ffea3b9.westeurope.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/fc35400e-3bc9-4216-a484-85bbf45fcb63/resourceGroups/Connect2GetherProject/providers/Microsoft.App/containerApps/connect2getherapi-app-2024022608</ResourceId>
    <ResourceGroup>Connect2GetherProject</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>