<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fc35400e-3bc9-4216-a484-85bbf45fcb63/resourcegroups/Connect2GetherProject/providers/Microsoft.Web/sites/Connect2GetherAPI20240226084951</ResourceId>
    <ResourceGroup>Connect2GetherProject</ResourceGroup>
    <ApiResourceId>/subscriptions/fc35400e-3bc9-4216-a484-85bbf45fcb63/resourceGroups/Connect2GetherProject/providers/Microsoft.ApiManagement/service/Connect2GetherAPIapi/apis/Connect2GetherAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://connect2getherapi20240226084951.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>efc6df3c-6e64-4e9b-aa59-3a78227c648a</ProjectGuid>
    <MSDeployServiceURL>connect2getherapi20240226084951.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Connect2GetherAPI20240226084951</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Connect2GetherAPI20240226084951</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>